<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Create product</title>
</head>

<body>

    <div layout:fragment="content">

        <h1>Create Product</h1>

        <form th:action="@{/products/create}" th:object="${product}" method="post" enctype="multipart/form-data">

            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Product name">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

            <label for="price">Price</label>
            <input type="number" th:field="*{price}" id="price" placeholder="Price">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>

            <label for="image">Image</label>
            <input type="file" id="image" name="imageProduct" accept="image/png,image/jpeg">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>

            <label for="category">Category</label>
            <select th:field="*{category.id}" id="category">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                </option>
            </select>

            <button type="submit">Add Product</button>
        </form>

    </div>

</body>

</html>