<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}" xmlns:custom="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>List products</title>
</head>

<body>

    <div layout:fragment="content">

        <h1>Product List</h1>

        <div class="add-link">
            <a th:href="@{/products/create}">+ Create New Product</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="product : ${listproduct}">
                    <td data-label="#">[[${product.id}]]</td>
                    <td data-label="Name">[[${product.name}]]</td>
                    <td data-label="Price">[[${product.price}]]</td>
                    <td data-label="Image">
                        <img th:src="@{/images/} + ${product.image}" width="120" height="90" alt="Product Image">
                    </td>
                    <td data-label="Category">
                        [[${product.category?.name ?: ''}]]
                    </td>
                    <td data-label="Action">
                        <a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>
                        |
                        <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post"
                            style="display:inline" onsubmit="return confirm('Bạn có chắc muốn xóa không?')">
                            <button type="submit" class="btn-delete">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>

</html>